* {
  padding: 0;
  margin: 0;
  color: #fff;
}
html,body {
  width: 100%;
  height: 100%;
}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.wrap {
  width: 100%;
  max-width: 750px;
  height: 100%;
  // min-height: 1334px;
  margin: 0 auto;
  background: #000 url(../images/bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  .slide-hd {
    width: 3.76rem;
    height: 1.57rem;
    margin-bottom: 0.88rem;
    border-bottom: 0.07rem solid #fff;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.info {
  position: relative;
  .ball {
    position: absolute;
    .ball-outer {
      width: 1.28rem;
      height: 1.28rem;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.2);
      box-shadow:#fafafa 0px 0px 18px inset;
      overflow: hidden;
      position: relative;
      .ball-inner {
        position: absolute;
        bottom: 0;
        width: 1.28rem;
        z-index: -1;
      }
    }
    .ball-txt {
      text-align: center;
    }
    &.cat {
      top: 1rem;
      left: 1rem;
      animation: floatAni 2s ease-in-out infinite;
    -webkit-animation: floatAni 2s ease-in-out infinite;
      .ball-inner{
        height: 0.53rem;
        background: url(../images/cat.png) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &.idol {
      top: 0.7rem;
      right: 1rem;
      animation: floatAni 1.8s ease-in-out infinite;
      -webkit-animation: floatAni 1.8s ease-in-out infinite;
      .ball-inner{
        height: 0.45rem;
        background: url(../images/idol.png) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &.fojoshi {
      top: 4.3rem;
      left: 1.3rem;
      animation: floatAni 1.6s ease-in-out infinite;
      -webkit-animation: floatAni 1.6s ease-in-out infinite;
      .ball-inner {
        height: 0.37rem;
        background: url(../images/fojoshi.png) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &.superstition {
      top: 4.6rem;
      right: 1.5rem;
      animation: floatAni 1.2s ease-in-out infinite;
      -webkit-animation: floatAni 1.2s ease-in-out infinite;
      .ball-inner{
        height: 0.19rem;
        background: url(../images/superstition.png) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .img-box {
    position: absolute;
    top: 1.8rem;
    left: 50%;
    width: 3.84rem;
    height: 3.84rem;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    .img-box-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 3.84rem;
      height: 3.84rem;
      background: url(../images/bg_img.png) 0 0 no-repeat;
      background-size: 100% 100%;
      animation: rotateAni 1.5s linear infinite;
      -webkit-animation: rotateAni 2s linear infinite;
    }
    .img-box-bg-outer {
      position: absolute;
      top: -0.21rem;
      left: -0.21rem;
      width: 4.24rem;
      height: 4.24rem;
      background: url(../images/bg_img_outer.png) 0 0 no-repeat;
      background-size: 100% 100%;
      animation: antiRotateAni 2s linear infinite;
      -webkit-animation: antiRotateAni 2s linear infinite;
    }
    .img-box-pic {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3.15rem;
      height: 3.15rem;
      border-radius: 50%;
      background-color: #fedbbd;
      overflow: hidden;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        height: 100%;
      }
    }
  }
  .info-main {
    position: absolute;
    left: 50%;
    bottom: 1.8rem;
    width: 6.93rem;
    height: 9.07rem;
    padding: 0.53rem;
    border: 0.08rem solid #fff;
    border-radius: 0.6rem;
    background-color: rgba(255,255,255,0.3);
    box-sizing: border-box;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    .info-main-list {
      width: 100%;
      height: 0.69rem;
      margin-bottom: 0.32rem;
      font-size: 15px;
      color: #fff;
      span {
        display: inline-block;
        width: 2rem;
        text-align: right;
      }
    }
    .info-main-sign {
      font-size: 14px;
      text-align: center;
      color: rgba(255,255,255,0.7);
    }
  }
}
.experience {
  .experience-list {
    width: 8rem;
    padding: 0.33rem;
    margin: 0 auto;
    margin-bottom: 1.76rem;
    border: 0.08rem solid #fff;
    border-radius: 0.6rem;
    line-height: 1.5;
    font-size: 12px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    .line {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0.07rem;
      height: 1.88rem;
      background-color: #fff;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
.skill {
  .skill-level {
    position: absolute;
    top: 2.08rem;
    right: 0.64rem;
    display: flex;
    .skill-level-tit {
      margin-right: 0.2rem;
      font-size: 12px;
      color: #fff;
    }
    .skill-level-main {
      // overflow: hidden;
      width: 3.6rem;
      height: 0.43rem;
      border-radius: 0.07rem;
      background-color: #fff;
      position: relative;
      display: flex;
      span {
        display: block;
        width: 1.2rem;
        height: 0.43rem;
        &:nth-child(1){
          border-top-left-radius: 0.07rem;
          border-bottom-left-radius: 0.07rem;
          background-color:#8fc31f;
        }
        &:nth-child(2){
          background-color:#22ac38;
        }
        &:nth-child(3){
          border-top-right-radius: 0.07rem;
          border-bottom-right-radius: 0.07rem;
          background-color:#009944;
        }
      }
      &::before {
        content: '低';
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 12px;
        color: #fff;
      }
      &::after {
        content: '高';
        position: absolute;
        top: 100%;
        right: 0;
        font-size: 12px;
        color: #fff;
      }
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    box-shadow: #fafafa 0px 0px 18px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-size-adjust: 100%;
    &.l {
      width: 2.08rem;
      height: 2.08rem;
      background-color: rgba(0, 153, 68, 1);
      animation: floatAni 2s ease-in-out infinite;
      -webkit-animation: floatAni 2s ease-in-out infinite;
      &.one {
        top: 2.21rem;
        left: 0.57rem;
      }
      &.two {
        top: 3.47rem;
        left: 4.17rem;
      }
      &.three {
        top: 6.73rem;
        right: 3.36rem;
      }
      &.four {
        bottom: 6.6rem;
        left: 0.32rem;
      }
      &.five {
        bottom: 2.48rem;
        left: 0rem;
      }
      &.six {
        bottom: 3.07rem;
        right: 2.75rem;
      }
      &.seven {
        bottom: 1.33rem;
        right: 0rem;
      }
    }
    &.m {
      width: 1.6rem;
      height: 1.6rem;
      background-color: rgba(34, 172, 56, 1);
      animation: floatAni 1.8s ease-in-out infinite;
      -webkit-animation: floatAni 1.8s ease-in-out infinite;
      &.one {
        top: 3.89rem;
        right: 0.56rem;
      }
      &.two {
        top: 6.08rem;
        left: 1.37rem;
      }
      &.three {
        top: 6.87rem;
        right: 0rem;
      }
      &.four {
        bottom: 6.53rem;
        right: 3.07rem;
      }
      &.five {
        bottom: 5.57rem;
        right: 0.45rem;
      }
    }
    &.s {
      width: 1.2rem;
      height: 1.2rem;
      background-color: rgba(143, 195, 31,1);
      animation: floatAni 1.5s ease-in-out infinite;
      -webkit-animation: floatAni 1.5s ease-in-out infinite;
      &.one {
        bottom: 4.05rem;
        left: 2.53rem;
      }
      &.two {
        bottom: 0.75rem;
        left: 3.28rem;
      }
    }
  }
}
@keyframes rotateAni {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes antiRotateAni {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@keyframes floatAni {
  0% {
    transform: translateY(0.15rem);
    -webkit-transform: translateY(0.15rem);
    -moz-transform: translateY(0.15rem);
    -ms-transform: translateY(0.15rem);
    -o-transform: translateY(0.15rem);
  }
  50% {
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
  100% {
    transform: translateY(0.15rem);
    -webkit-transform: translateY(0.15rem);
    -moz-transform: translateY(0.15rem);
    -ms-transform: translateY(0.15rem);
    -o-transform: translateY(0.15rem);
  }
  
}